.employee {
  width: 360px;
  height: 320px;
  margin: 12px;
  background-color: white;
  position: relative;
  text-align: center;
  border-radius: 4px;
}

.employee-options {
  position: absolute;
  right: 0;
  margin-right: 37px;
  margin-top: 15px;
  color: #C1D8DD;
  font-size: 40px;
  line-height: 10px;
  width: 5px;
  height: 5px;
  word-wrap: break-word;
}

.employee-avatar {
  margin-top: 40px;
}

.employee-name {
  display: block;
  font-size: 22px;
}

.employee-job-position {
  display: block;
  font-size: 20px;
  margin-top: 16px;
  color: #969EAC;
}

.employee-status {
  display: inline-block;
  font-size: 20px;
  margin-top: 41px;
  color: white;
  padding: 11px;
  min-width: 110px;
  background-color: #13cf71;
  border-radius: 4px;
}

.employee-status-terminated {
  background-color: #FF3E2B;
}

.employee-status-deceased {
  background-color: #000000;
}

.employee-status-resigned {
  background-color: #FDC305;
}

.employee-status-trash {
  background-color: #909090;
}


