.dropdown-button {
  position: relative;
  display: inline-block;
  margin-left: 14px;
  margin-bottom: 5px;
}

.material-icons {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: -28px;
  margin-right: -40px;
  font-size: 34px;
  color: #CBD6D8;
  top: 20px;
}
