<div  class="employees-wrapper">
  <div class="employees-control-panel">
    <label class="selected-page">Employee</label>
    <div class="useless-letters">
      <span class="first-letter useless-letters-span">A</span>
      <span class="second-letter useless-letters-span">N</span>
      <span class="third-letter useless-letters-span">S</span>
      <span class="fourth-letter useless-letters-span">M</span>
    </div>
    <!-- <app-add-new-employee></app-add-new-employee> -->
    <div class="addNewEmployeeButton" (click)="showFormChange.emit(!showForm)">
      <span class="customAddition">
        <i class="material-icons">add</i>
      </span>
          <span class="addNewEmployeeText">
        Add New Employee
      </span>
    </div>
    <ul class="status-filter">
      <li class="status-filter-li"
          *ngFor="let status of statuses$ | async"
          (click)="filterByStatus(status)">
        {{status}}
      </li>
    </ul>
    <div class="employee-job-filter">
      <label class="employee-job-filter-label">Filter by </label>
        <app-dropdown-menu></app-dropdown-menu>
    </div>
      <app-view-menu></app-view-menu>
  </div>
  <div class="employees-grid">
    <ng-container *ngFor="let employee of employees$ | async">
      <app-employee [employee]="employee"></app-employee>
    </ng-container>
  </div>
</div>
