<div  id="employeesWrapper">
  <div id="employeesControlPanel">
    <label class="selectedPage">Employee</label>
    <ul class="statusFilter">
      <li>All</li>
      <li>Active</li>
      <li>Terminated</li>
      <li>Deceased</li>
      <li>Resigned</li>
      <li>Trash</li>
    </ul>
    <div class="employeeJobFilter">
      <label>Filter by</label>
        <app-dropdown-menu></app-dropdown-menu>
    </div>
  </div>
  <div id="employeesGrid">
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
    <app-employee></app-employee>
  </div>
</div>
