#employeesWrapper {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F9;
  height: 1116px;
}

#employeesControlPanel {
  position: relative;
  height: 160px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 46px;
}

.selectedPage {
  font-size: 38px;
}

.uselessLetters {
  display: flex;
  position: absolute;
  right: 303px;
  top: 14px;
  font-size: 20px;
  font-weight: bold;
}

.uselessLetters span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 64px;
  height: 64px;
  border: 6px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.firstLetter {
  top: -20px;
  right: 110px;
  color: orange;
  background-color: #F5E5C8;
}

.secondLetter {
  top: -20px;
  right: 66px;
  color: #7C84FE;
  background-color: #DADCFB;
}

.thirdLetter {
  top: -20px;
  right: 24px;
  color: #1EBD9D;
  background-color: #C9EAE7;
}

.fourthLetter {
  top: -20px;
  right: -20px;
  color: #A56ABD;
  background-color: #EBDEF0;
}

.statusFilter {
  display: flex;
  position: absolute;
  list-style-type: none;
  font-size: 20px;
  bottom: 0;
  border-width: 2px 0px 0px 2px;
}

.statusFilter, .statusFilter > li {
  border-style: solid;
  border-color: #E1E3E8;
}

.statusFilter li {
  padding: 18px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-width: 0px 2px 2px 0px;
}

.employeeJobFilter {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 182px;
  margin-bottom: 16px;
  font-size: 20px;
}

.employeeJobFilter label {
  color: #C7C5C3;
}

#employeesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 36px;
}

