.employees-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F9;
  height: 1116px;
}

.employee-form-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 10;
}

.employees-control-panel {
  position: relative;
  height: 160px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 46px;
}

.selected-page {
  font-size: 38px;
}

.useless-letters {
  display: flex;
  position: absolute;
  right: 312px;
  top: 18px;
  font-size: 20px;
  font-weight: bold;
}

.useless-letters-span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 52px;
  height: 52px;
  border: 0px solid;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.first-letter {
  top: -20px;
  right: 110px;
  color: orange;
  background-color: #F5E5C8;
}

.second-letter {
  top: -20px;
  right: 66px;
  color: #7C84FE;
  background-color: #DADCFB;
}

.third-letter {
  top: -20px;
  right: 24px;
  color: #1EBD9D;
  background-color: #C9EAE7;
}

.fourth-letter {
  top: -20px;
  right: -20px;
  color: #A56ABD;
  background-color: #EBDEF0;
}

.status-filter {
  display: flex;
  position: absolute;
  list-style-type: none;
  font-size: 20px;
  bottom: 0;
  border-width: 3px 0px 0px 3px;
}

.status-filter, .status-filter-li {
  border-style: solid;
  border-color: #E1E3E8;
}

.status-filter-li {
  padding: 16px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #F6F6F9;
  color: #ABA8A6;
  border-width: 0px 3px 3px 0px;
  cursor: pointer;
}

.status-filter-li:hover {
  box-shadow: 0px 0px 5px black;
  background-color: #fff;
  z-index: 1;
}

.employee-job-filter {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 205px;
  margin-bottom: 16px;
  font-size: 20px;
}

.employee-job-filter-label {
  color: #A8A5A4;
}

.addNewEmployeeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 271px;
  height: 62px;
  background-color: white;
  border: 3px solid #ECEEF5;
  border-radius: 8px;
  right: 0;
  top: 0;
  margin-top: -6px;
  cursor: pointer;
}

.addNewEmployeeText {
  font-size: 20px;
}

.material-icons {
  color: #2071DB;
  font-size: 30px;
  font-weight: 900;
  margin-right: 5px;
  margin-top: 2px;
}

.employees-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 36px;
}

