<div class="navigation-menu">
  <!--<img class="logo" src="../../assets/images/flowUpLogo.jpg">-->
  <nav>
    <a><i class="material-icons">visibility</i><span class="nav-margin-left">Overview</span></a>
    <a><i class="material-icons">person</i><span class="nav-margin-left">Employees</span></a>
    <a><i class="material-icons">security</i><span class="nav-margin-left">Departments</span></a>
    <a><i class="material-icons">work</i><span class="nav-margin-left">Designations</span></a>
    <a><i class="material-icons">chat_bubble_outline</i><span class="nav-margin-left">Announcement</span></a>
    <a><i class="material-icons">report</i><span class="nav-margin-left">Reporting</span></a>
  </nav>
</div>
