<div  id="headerMenu">
  <div class="headerGrid">
    <span>.</span>
    <span>.</span>
    <span>.</span>
    <span>.</span>
  </div>
  <div class="profileInfo">
    <div class="profileNotification">
      <img src="../../assets/images/notification.png">
      <span class="profileNotificationStatus"></span>
    </div>
    <div class="profileAvatar">
      <img src="../../assets/images/user.png">
    </div>
    <div class="profileName">
      Ashraf Hossain
    </div>
    <div class="profileOptions">
      <i class="material-icons">expand_more</i>
    </div>
  </div>
</div>
